{% extends "../layouts/edit.html" %}
{% block body %}
<form class="layui-form" lay-filter="component-form-element" method="post" action="/user_tag_categories/save">
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-inline">
            <input name="name" lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input" value="{{r.Name}}" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <textarea name="remark" class="layui-textarea" style="width: 500px; height: 120px;" lay-verify="required" placeholder="请输入相关备注">{{r.Remark}}</textarea>
        </div>
    </div>
    {{block.Super|safe}}
</form>
{% endblock body %}
