{% for r in rows %}
<tr {% if forloop.Counter==1%}total="{{rTotal.Total}}" {%endif%}>
    <td>{{r.UserName}}</td>
    <td>{{r.TotalCount}}</td>
    <td>{{r.TotalGame}}</td>
    <td>{{r.TotalBet|stringformat:'%.2f'}}</td>
    <td>{{r.TotalValid|stringformat:'%.2f'}}</td>
    <td>
        {%if r.TotalWin > 0 %}<span style="color: red">{{r.TotalWin|stringformat:'%.2f'}}</span> {%elif r.TotalWin < 0 -%}<span style="color: green">{{r.TotalWin|stringformat:'%.2f'}}</span>
        {%else -%}{{r.TotalWin|stringformat:'%.2f'}} {%endif -%}
    </td>
    <td>{{r.TotalRebate|stringformat:'%.2f'}}</td>
</tr>
{% endfor %}
