{% extends "../layouts/edit.html" %}
{% block body %}
<form class="layui-form" action="/admins/handover_save" lay-filter="component-form-element">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{{admin.Name}}" lay-verify="required" autocomplete="off" class="layui-input" readonly disabled />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户角色</label>
        <div class="layui-input-inline">
            <input type="text" name="role_name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{{admin.RoleName}}" readonly disabled />
        </div>
    </div>
        <hr />
    <div class="layui-form-item">
        <label class="layui-form-label">接收用户</label>
        <div class="layui-input-inline">
            <select name="receiver" lay-verify="required" lay-search="">
                <option value="">请选择</option>
                {%for v in admins%}
                <option value="{{v.Name}}" role_name="{{v.RoleName}}">{{v.Name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接收角色</label>
        <div class="layui-input-inline">
            <input type="text" name="receiver_role" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" readonly disabled id="receiver_role" />
        </div>
    </div>
    {{block.Super|safe}}
</form>
<script>
    layui.use(['form', 'jquery'], function() {
        let form = layui.form, $ = layui.jquery;
        form.on("select()", function(data) {
            let roleName = $("option:selected").attr("role_name");
            $("#receiver_role").val(roleName);
        });
    });
</script>
{% endblock body %}

