<div class="layui-card-body">
    <div style="padding-bottom: 10px">
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions/plan/view", 4) -%}
        <button class="layui-btn sp-open-link" url="/agents/commissions/plan/view" area="600px,620px" title="新增佣金方案">新增佣金方案</button>
        {%endif -%}
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table" style="width: 1000px">
                    <colgroup>
                        <col width="150" />
                        <col width="130" />
                        <col width="100" />
                        <col />
                        <col width="120" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>方案名称</th>
                            <th>创建时间</th>
                            <th>创建账户</th>
                            <th>佣金范围</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
