{% extends "../layouts/base.html" %} {% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-row" style="overflow: hidden">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" style="overflow: auto">
                        <div class="layui-tab" lay-filter="sp-lazy-load">
                            <ul class="layui-tab-title">
                                {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions", 3) -%}
                                <li class="layui-this">发放佣金</li>
                                {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions/record", 4) -%}
                                <li>佣金记录</li>
                                {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions/plan", 4) -%}
                                <li>返佣方案</li>
                                {%endif -%}
                            </ul>
                            <div class="layui-tab-content" style="height: 500px">
                                {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions", 3) -%}
                                <div class="layui-tab-item layui-show" url="/agents/commissions">{% include "commission_offers.html" %}</div>
                                {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions/record", 4) -%}
                                <div class="layui-tab-item" url="/agents/commissions/record">{% include "commission_records.html" %}</div>
                                {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/agents/commissions/plan", 4) -%}
                                <div class="layui-tab-item" url="/agents/commissions/plan">{% include "commission_plans.html" %}</div>
                                {%endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
