<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form class="layui-form" lay-filter="" method="post" tbody="1">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">代理编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" placeholder="请输入代理编号" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">代理账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入代理账号" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <!--
                            <div class="layui-inline">
                                <label class="layui-form-label">代理类型</label>
                                <div class="layui-input-inline">
                                    <select name="is_ma">
                                        <option value=""></option>
                                        <option value="0">普通代理</option>
                                        <option value="1">官方代理</option>
                                        <option value="3">招商代理</option>
                                    </select>
                                </div>
                            </div>
                        -->
                        <div class="layui-inline">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bill_no" placeholder="请输入订单编号" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">操作人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="risk_admin" placeholder="请输入操作人" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value=""></option>
                                    <option value="1">处理中</option>
                                    <option value="2">提款成功</option>
                                    <option value="3">提款失败</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">申请时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="created" placeholder="请选择时间" autocomplete="off" class="layui-input sp-form-date" id="created_cards" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">审核时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="risk_process_at" placeholder="请选择时间" autocomplete="off" class="layui-input sp-form-date" id="created_card" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">代付</label>
                            <div class="layui-input-inline">
                                <select name="business_type">
                                    <option value="">全部</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="sp-form-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn sp-form-reset" type="button">重置</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--<div class="layui-card-body">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-list" data-type="add">导出EXecl</button>
                </div>
            </div>-->
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="80" />
                        <col width="150" />
                        <col width="80" />
                        <col width="120" />
                        <col width="120" />
                        <col width="80" />
                        <col width="130" />
                        <col width="100" />
                        <col width="320" />
                        <col width="80" />
                        <col width="130" />
                        <col />
                        <col width="80" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单编号</th>
                            <th>代理编号</th>
                            <th>代理账号</th>
                            <th>上线</th>
                            <th>提款金额</th>
                            <th>申请时间</th>
                            <th>是否代付</th>
                            <th>银行卡</th>
                            <th>操作人</th>
                            <th>审核时间</th>
                            <th>备注</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
