<style type="text/css">
    .layui-form-item .layui-form-checkbox[lay-skin='primary'] {
        margin-top: -6px;
    }
</style>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form class="layui-form" lay-filter="" method="post" tbody="1">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">申请时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="created" placeholder="请选择时间" autocomplete="off" class="layui-input sp-form-date" id="created_audits" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">操作金额</label>
                            <div class="layui-input-inline" style="width: 100px">
                                <input type="text" name="money_min" placeholder="开始金额" autocomplete="off" class="layui-input" />
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px">
                                <input type="text" name="money_max" placeholder="结束金额" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <br />
                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入会员账号" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">申请人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="applicant" placeholder="请输入申请人" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                                <select name="type">
                                    <option value="">全部</option>
                                    <option value="1">上分</option>
                                    <option value="2">下分</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="layui-inline">
                        <label class="layui-form-label">会员等级</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="all" lay-filter="layAllChoose" lay-skin="primary" title="全选">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP0">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP1">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP2">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP3">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP4">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP5">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP6">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP7">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP8">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP9">
                            <input type="checkbox" name="vip[]" lay-filter="sp-form-checkbox" lay-skin="primary" title="VIP10">
                        </div>
                    </div>-->
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="sp-form-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn sp-form-reset" type="button">重置</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--<div class="layui-card-body">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-list" data-type="add">导出EXecl</button>
                </div>
            </div>-->
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card no-shadow">
            <div class="layui-card-body no-padding-lr">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="150" />
                        <col width="120" />
                        <col width="100" />
                        <col width="80" />
                        <col width="80" />
                        <col width="100" />
                        <col width="100" />
                        <col />
                        <col width="130" />
                        <col width="100" />
                        <col width="120" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单编号</th>
                            <th>会员账号</th>
                            <th>会员等级</th>
                            <th>操作类型</th>
                            <th>原因</th>
                            <th>操作金额(元)</th>
                            <th>投注倍数</th>
                            <th>申请备注</th>
                            <th>申请时间</th>
                            <th>申请人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="sp-loaded-table" url="/user_account_audits"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'laydate'], function () {
        let $ = layui.$;
        let form = layui.form;
        let element = layui.element;
        let layer = layui.layer;
        let laydate = layui.laydate;
        let get_user_info = function (that) {
            //得到用户编号、信息
            let tr = that.parent().parent();
            let id = $('td:eq(0)', tr).text();
            return { id: id };
        };
        form.on('checkbox(layAllChoose)', function (data) {
            $(':checkbox[lay-filter="sp-form-checkbox"]').prop('checked', data.elem.checked);
            form.render('checkbox');
        });

        // 同意
        $(document).off('click', '.agree');
        $(document).on('click', '.agree', function () {
            let info = get_user_info($(this)),
                that = $(this),
                uid = that.attr('uid');
            layer.open({
                type: 2,
                area: ['600px', '500px'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: '同意',
                content: '/user_account_audits/agree?id=' + info.id + '&uid=' + uid,
            });
        });

        // 拒绝
        $(document).off('click', '.refuse');
        $(document).on('click', '.refuse', function () {
            let info = get_user_info($(this)),
                that = $(this),
                uid = that.attr('uid');
            layer.open({
                type: 2,
                area: ['600px', '500px'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: '拒绝',
                content: '/user_account_audits/refuse?id=' + info.id + '&uid=' + uid,
            });
        });
    });

    function getCurrDate() {
        var date = new Date();
        var sep = '-';
        var year = date.getFullYear(); //获取完整的年份(4位)
        var month = date.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var day = date.getDate(); //获取当前日
        if (month <= 9) {
            month = '0' + month;
        }
        if (day <= 9) {
            day = '0' + day;
        }
        var currentdate = year + sep + month + sep + day;
        return currentdate;
    }
</script>
