{% extends "../layouts/base.html" %}
{% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div style="padding-bottom: 10px">
                    {%if is_granted(PLATFORM, ADMIN.RoleId, "/admin_roles/create", 4) -%}
                    <button class="layui-btn sp-open-link" url="/admin_roles/create" tab="0" area="900px,600px">新增角色</button>
                    {%endif -%}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="80" />
                        <col width="250" />
                        <col />
                        <col width="130" />
                        <col width="130" />
                        <col width="50" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>角色名称</th>
                            <th>备注</th>
                            <th>添加时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="sp-loaded-table" url="/admin_roles" loaded="loaded">{%include "_list.html"%}</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
