{% extends "../layouts/list.html" %}
{% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col width="130">
                    <col width="80">
                    <col width="130">
                    <col width="60">
                    <col width="80">
                    <col width="80">
                    <col />
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>订单编号</th>
                    <th>操作</th>
                    <th>时间</th>
                    <th>结果</th>
                    <th>耗时</th>
                    <th>操作人</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                {% include "_logs.html" %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
