nginx.conf
src/go.sum
src/go.mod
src/integrated-admin
src/setting.ini
src/setting_ext.ini
src/.htaccess
src/nginx.htaccess
target
run.sh
src/sports-admin
.idea/workspace.xml
bin
start.sh
deploy-venice.sh
templates.tar.gz
src/sports-admin-*
src/venice-admin-*
.DS_Store
src/.realize.yaml
logs
