{% extends "../layouts/base.html" %}
{% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <table class="layui-table">
                <colgroup>
                    <col width="80" />
                    <col width="100" />
                    <col width="130" />
                    <col />
                    <col />
                </colgroup>
                <thead>
                <tr style="background-color: #FF9933;color: black;">
                    <th>序号</th>
                    <th>操作人</th>
                    <th>操作时间</th>
                    <th>操作内容</th>
                    <th>原因备注</th>
                </tr>
                </thead>
                <tbody id="sp-loaded-table" loaded="loaded" url="/game_maintains_log?id={{id}}">
                {% include "_list.html" %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
