{% extends "../layouts/base.html" %} {% block body %}
<form class="layui-form" method="post" action="/user_withdraws/failure_do?uid={{r.user_id}}" lay-filter="component-form-element">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table style="width: 100%">
                <tr>
                    <td width="50%">
                        <div class="layui-card">
                            <div class="layui-card-header" style="color: blue">订单信息</div>
                            <div class="layui-card-body">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">订单号</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="bill_no"
                                            lay-verify="required"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.bill_no}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">会员账号</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="username"
                                            lay-verify="required"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.username}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">会员等级</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="vip"
                                            lay-verify="required"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="VIP{{r.vip-1}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">提款金额</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="money"
                                            lay-verify="required"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.money}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="padding-left: 5px">
                        <div class="layui-card">
                            <div class="layui-card-header" style="color: blue">提款银行卡信息</div>
                            <div class="layui-card-body">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">银行名称</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="bank_name"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.bank_name}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">户名</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="bank_realname"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.bank_realname}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">银行卡号</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="bank_card"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.bank_card}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 90px">支行</label>
                                    <div class="layui-input-inline">
                                        <input
                                            type="text"
                                            name="bank_branch_name"
                                            placeholder=""
                                            autocomplete="off"
                                            disabled
                                            class="layui-input layui-disabled"
                                            value="{{r.bank_branch_name}}"
                                            style="width: 150px"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {%if r.label != ""%}
    <div class="layui-row" style="margin-top: 10px">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="color: blue">会员标签</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">{{r.label|platform_wrap:PLATFORM|user_labels|safe}}</div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="layui-row" style="margin-top: 10px">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="color: blue">失败原因</div>
                <div class="layui-card-body">
                    <div class="layui-form-item" style="margin-top: 10px; margin-left: 15px">
                        <label class="layui-form-label" style="width: 90px">失败原因</label>
                        <div class="layui-input-inline">
                            <select name="cause_failure" lay-verify="required" lay-search="">
                                <option value="1">打码量不足</option>
                                <option value="2">违规操作</option>
                                <option value="3">收款卡异常</option>
                                <option value="4">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text" style="margin-left: 15px">
                        <label class="layui-form-label" style="width: 90px">原因内容</label>
                        <div class="layui-input-inline">
                            <textarea name="failure_reason" style="height: 30px" placeholder="自动填充已选择的拒绝原因,可在此基础上编辑" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-left: 15px">
                        <label class="layui-form-label" style="width: 90px">站内信通知</label>
                        <div class="layui-input-block">
                            <input type="radio" name="message" value="1" title="是" checked="" />
                            <input type="radio" name="message" value="2" title="否" />
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text" style="margin-left: 15px">
                        <label class="layui-form-label" style="width: 90px">财务备注</label>
                        <div class="layui-input-inline">
                            <textarea name="remark" lay-verify="required" placeholder="请输入备注信息，不超过100字" class="layui-textarea">财务审核不通过</textarea>
                            <div style="color: red; margin-top: 10px">重要信息,请谨慎操作</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" value="{{r.id}}" name="id" />
                        <input type="hidden" value="{{r.user_id}}" name="uid" />
                        <input type="hidden" value="{{r.created}}" name="created" />
                        <div class="layui-input-inline" style="margin-left: 125px; margin-bottom: 10px; margin-top: 10px; width: 300px">
                            <button class="layui-btn" lay-submit lay-filter="sp-save">提交</button>
                            <button class="layui-btn layui-btn-primary sp-btn-cancel">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body %}
