<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form class="layui-form" lay-filter="" method="post" tbody="0">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline" style="width: 450px">
                            <label class="layui-form-label">申请时间</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input sp-form-datetime" id="created_withdraws" name="created" placeholder="请选择时间" style="width: 330px" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单金额</label>
                            <div class="layui-input-inline" style="width: 100px">
                                <input autocomplete="off" class="layui-input" name="money_min" placeholder="￥" type="text"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px">
                                <input autocomplete="off" class="layui-input" name="money_max" placeholder="￥" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单号码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" name="bill_no" placeholder="请输入订单号" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" name="username" placeholder="请输入会员账号" type="text"/>
                            </div>
                        </div>
                        <br/>
                        <div class="layui-inline">
                            <label class="layui-form-label">风控审核人</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" name="risk_admin" placeholder="请输入风控审核人" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">全部</option>
                                    <option value="1">处理中</option>
                                    <option value="2">成功</option>
                                    <option value="3">失败</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">会员等级</label>
                            <div class="layui-input-inline">
                                <select name="vip">
                                    <option value="">请选择VIP等级</option>
                                    {%for v in vipLevels %}
                                    <option value="{{v.Id}}">{{v.Name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-filter="sp-form-search" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn sp-form-reset" type="button">重置</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-card-body" style="padding-bottom:0px; margin-bottom:0px;">
                <form class="layui-form">
                    <div class="layui-form-item" style="padding-bottom:0px; margin-bottom:0px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">自动刷新</label>
                            <div class="layui-input-inline" id="auto-refresh">
                                <input id="auto-timer" lay-filter="auto-timer" lay-skin="switch" lay-text="开启|关闭" name="auto_refresh" title="是" type="checkbox" value="1"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">刷新间隔</label>
                            <div class="layui-input-inline">
                                <select id="refresh-interval" lay-filter="auto-seconds" name="refresh_interval" style="width:180px">
                                    <option value="5">05 秒</option>
                                    <option value="10">10 秒</option>
                                    <option value="15">15 秒</option>
                                    <option value="20">20 秒</option>
                                    <option value="25">25 秒</option>
                                    <option value="30">30 秒</option>
                                    <option value="35">35 秒</option>
                                    <option value="40">40 秒</option>
                                    <option value="45">45 秒</option>
                                    <option value="50">50 秒</option>
                                    <option value="55">55 秒</option>
                                    <option value="60">60 秒</option>
                                    <option value="120">120 秒</option>
                                    <option value="180">180 秒</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card no-shadow">
            <div class="layui-card-body no-padding-lr">
                <table class="layui-table">
                    <colgroup>
                        <col width="60"/>
                        <col width="140"/>
                        <col width="120"/>
                        <col width="90"/>
                        <col width="120"/>
                        <col width="80"/>
                        <col width="80"/>
                        <col width="135"/>
                        <col/>
                        <col width="130"/>
                        <col width="130"/>
                        <col width="100"/>
                        <col width="90"/>
                        <col width="90"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>订单编号</th>
                        <th>会员账号</th>
                        <th>会员等级</th>
                        <th>订单金额</th>
                        <th>行政费用</th>
                        <th>实需出款</th>
                        <th>会员标签</th>
                        <th>银行卡信息</th>
                        <th>申请时间</th>
                        <th>风控审核完成时间</th>
                        <th>风控审核人</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="auto-refresh-table" id="sp-loaded-table" loaded="loaded" url="/user_withdraws">
                    {% include "_user_withdraws.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'laydate'], function () {
        let $ = layui.$,
            form = layui.form,
            element = layui.element,
            layer = layui.layer,
            laydate = layui.laydate;
        let get_user_info = function (that) {
            //得到用户编号、信息
            let tr = that.parent().parent();
            let id = $('td:eq(0)', tr).text();
            return {id: id};
        };

        $(document).off('click', '.success');
        $(document).on('click', '.success', function () {
            let info = get_user_info($(this)),
                that = $(this),
                uid = that.attr('uid');
            layer.open({
                type: 2,
                area: ['800px', '600px'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: '提款成功确认',
                content: '/user_withdraws/success?id=' + info.id + '&uid=' + uid,
            });
        });

        $(document).off('click', '.failure');
        $(document).on('click', '.failure', function () {
            let info = get_user_info($(this)),
                that = $(this),
                uid = that.attr('uid');
            layer.open({
                type: 2,
                area: ['800px', '600px'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: '提款失败确认',
                content: '/user_withdraws/failure?id=' + info.id + '&uid=' + uid,
            });
        });
    });

    function getCurrDate() {
        let date = new Date();
        let sep = '-';
        let year = date.getFullYear(); //获取完整的年份(4位)
        let month = date.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        let day = date.getDate(); //获取当前日
        if (month <= 9) {
            month = '0' + month;
        }
        if (day <= 9) {
            day = '0' + day;
        }
        return year + sep + month + sep + day;
    }
</script>
{% include "../user_deposits/auto_refresh.html" -%}