<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta content="webkit" name="renderer"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<link href="{{STATIC_URL}}/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet"/>
<script src="{{STATIC_URL}}/layuiadmin/layui/layui.js"></script>
<script> const STATIC_URL = '{{STATIC_URL}}'; </script>
<script> const UPLOAD_URL = '{{UPLOAD_URL}}'; </script>
<link href="{{STATIC_URL}}/layuiadmin/style/admin.css" media="all" rel="stylesheet"/>
<link href="{{STATIC_URL}}/css/base.css" media="all" rel="stylesheet"/>
<script src="{{STATIC_URL}}/js/common.js"></script>
<style type="text/css">
    .sp-form-label {
        line-height: 25px;
        height: 25px;
        float: left;
        padding-top: 2px;
    }

    .sp-form-label span {
        line-height: 25px;
        height: 25px;
    }
</style>
