{% extends "../layouts/base.html" -%} 
{% block body -%}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form class="layui-form" lay-filter="" tbody="0">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入会员账号" autocomplete="off" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="sp-form-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn sp-form-reset" type="button">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="150" />
                        <col width="100" />
                        <col width="120" />
                        <col width="120" />
                        <col width="120" />
                        <col width="100" />
                        <col width="100" />
                        <col width="100" />
                        <col width="80" />
                        <col width="80" />
                        <col width="100" />
                        <col />
                        <col width="140" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>统计日期区间</th>
                            <th>会员编号</th>
                            <th>会员账号</th>
                            <th>当前VIP等级</th>
                            <th>应该VIP等级</th>
                            <th>区间保级积分</th>
                            <th>区间积分</th>
                            <th>保级积分差额</th>
                            <th>是否降级</th>
                            <th>已经降级</th>
                            <th>每月俸禄</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="sp-loaded-table" loaded="loaded" url="/admin_tools/down_vips">
                        {% include "_down_vips.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["jquery"], function () {
        let $ = layui.jquery;
        // 升级vip
        $(document).on("click", ".down-vip", function () {
            let that = $(this);
            let user_id = that.attr("user_id"), // 用户编号
				valid_bet = that.attr("valid_bet"), // 有效投注
                from_level = that.attr("from_level"), // 从等级
                to_level = that.attr("to_level"),  // 到等级
				reduct = that.attr("reduct"); // 是否扣除每月俸禄
            let url = "/admin_tools/down_vip?user_id=" + user_id + "&from_level=" + from_level + "&to_level=" + to_level + "&reduct=" + reduct + "&valid=" + valid_bet;
			let message = (reduct == "1" ? "确定要降级用户VIP等级并扣除月俸禄么?"  : "确定要降级用户VIP等级么?");
            sp.confirm(message, function () {
                $.get(url, function (result) {
                    if (result.errcode != 0) {
                        sp.alert(result.message);
                        return;
                    }
                    sp.alertSuccess("用户等级调整成功", function () {
                        let url = $("#sp-loaded-table").attr("url");
                        if (url) {
                            location.href = url;
                            return;
                        }
                        location.reload();
                    });
                });
            });
        });
    });
</script>
{% endblock body -%}
