{% extends "../layouts/base.html" -%}
{% block body -%}
{%set totalDeduct = totalManageFee -%}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item" style="line-height: 20px">
                        <div class="layui-inline">用户名称: {{user.Username}} &nbsp; |</div>
                        <div class="layui-inline">用户等级: {{user.Vip|platform_wrap:PLATFORM|user_level}} &nbsp; |</div>
                        <div class="layui-inline">上级代理: {{user.TopName}} &nbsp; |</div>
                        <div class="layui-inline">注册时间: {{user.Created|datetime}} &nbsp; |</div>
                        <div class="layui-inline">最后登录时间: {{user.LastLoginAt|datetime}}</div>
                        <br />
                        <div class="layui-inline">存款/提款次数: <span style="color: green">{{totalDepositCount}}</span> / <span style="color: red">{{totalWithdrawCount}}</span> &nbsp; |</div>
                        <div class="layui-inline">
                            存款/提款总额/差: <span style="color: green">{{totalDeposit|stringformat:'%.2f'}}</span> / <span style="color: red">{{totalWithdraw|stringformat:'%.2f'}}</span> /
                            {%if totalPro > 0.0-%}<span style="color: green">{{totalPro|stringformat:'%.2f'}}</span>
                            {%elif totalPro < 0.0 -%}<span style="color: red">{{totalPro|stringformat:'%.2f'}}</span>
                            {%else -%}<del>0.00</del>
                            {%endif-%} &nbsp;|
                        </div>
                        <div class="layui-inline">最后存款: {{depositLastTime}} &nbsp;|</div>
                        <div class="layui-inline">最后提款: {{withdrawLastTime}}</div>
                        <br />
                        <div class="layui-inline">稽核开始时间: {{lastWithdraw}} &nbsp; |</div>
                        <div class="layui-inline">稽核记录: {{totalRows}} &nbsp; |</div>
                        <div class="layui-inline">稽核流水: {{info.TotalFlowNeed|stringformat:'%.2f'}} &nbsp; |</div>
                        <div class="layui-inline">完成稽核: {{info.TotalFlowCurrent|stringformat:'%.2f'}} &nbsp; | </div>
                        <div class="layui-inline">流水缺额: {%if totalFlowLeft > 0.0 %}<span class="red">{{totalFlowLeft|stringformat:'%.2f'}}</span>
                            {%else%}<del class="green">{{totalFlowLeft|stringformat:'%.2f'}}</del>{%endif%} &nbsp; |
                        </div>
                        <div class="layui-inline">行政费率: {{manageFeeRate|stringformat:'%.2f'}}% ({{info.TotalManageFee|stringformat:'%.2f'}})&nbsp; |</div>
                        <div class="layui-inline">总计扣除: {%if info.TotalDiscountDeductCal > 0.0 %}<span class="red">{{info.TotalDiscountDeductCal|stringformat:'%.2f'}}</span>
                            {%else%}<del class="green">{{info.TotalDiscountDeductCal|stringformat:'%.2f'}}</del>{%endif-%}
                        </div>
                        {% if isWarn -%}
                        <br />
                        <div class="layui-inline">
                            <span class="layui-badge">*** 警告: 此用户稽核信息异常, 请仔细核实用户稽核记录是否来源于 活动/VIP等级调整/调整 ***</span>
                        </div>
                        {%endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="130" />
                        <col width="80" />
                        <col />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="80" />
                        <col width="100" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>存款时间</th>
                            <th>存款金额</th>
                            <th>存款类型</th>
                            <th>流水倍数</th>
                            <th>所需流水</th>
                            <th>总需流水</th>
                            <th>完成流水</th>
                            <th>缺少流水</th>
                            <th>优惠金额</th>
                            <th>优惠扣除</th>
                            <th>注单数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for rs in rows -%}
                        {% if rs -%}
                        {%for r in rs.Records -%}
                        <tr>
                            <td>{{forloop.Counter}}</td>
                            <td>{{r.AuditTime|datetime}}</td>
                            <td>{{r.DepositMoney|stringformat:'%.2f'}}</td>
                            <td>
                                {%if r.AuditType == 101 -%}<span style="color:green">{{r.Remark}}</span>
                                {%else -%}{{r.Remark}}
                                {%endif -%}
                            </td>
                            <td>{{r.AuditMultiple}}.00</td>
                            <td class="flow_need" id="flow_need_{{r.Id}}" rid="{{r.Id}}" 
                                rvalue="{{r.FlowNeed|stringformat:'%.2f'}}">{{r.FlowNeed|stringformat:'%.2f'}}</td>
                            {%if forloop.Counter == 1 -%}
                                <td rowspan="{{rs.RecordCount}}">
                                    {%if rs.TotalFlowValid >= rs.TotalFlowNeed || rs.TotalFlowLeft <= 0.0 -%}<del style="color: green">{{rs.TotalFlowNeed|stringformat:'%.2f'}}</del>
                                    {%else -%}{{rs.TotalFlowNeed|stringformat:'%.2f'}}
                                    {%endif -%}
                                </td>
                            {%endif -%}
                            {%if forloop.Counter == 1 -%}
                                <td rowspan="{{rs.RecordCount}}">
                                    {%if rs.TotalFlowValid >= rs.TotalFlowNeed || rs.TotalFlowLeft <= 0.0 -%}<del style="color: green">{{rs.TotalFlowValid|stringformat:'%.2f'}}</del>
                                    {%else -%}{{rs.TotalFlowValid|stringformat:'%.2f'}}
                                    {%endif -%}
                                    {%if rs.FixMoney > 0.0 -%}<br />(<span style="color: green">+{{rs.FixMoney|stringformat:'%.2f'}}</span>)
                                    {%endif -%}
                                </td>
                            {%endif -%}
                            {%if forloop.Counter == 1 -%}
                                <td rowspan="{{rs.RecordCount}}">
                                    {%if rs.TotalFlowValid >= rs.TotalFlowNeed || rs.TotalFlowLeft <= 0.0 -%}<del style="color: green">{{rs.TotalFlowLeft|stringformat:'%.2f'}}</del>
                                    {%else -%}
                                        {%if rs.TotalFlowLeft > 0.0 -%}
                                            {%if rs.ClearedBy -%} <span style="color: green; text-decoration: underline;"><del>{{rs.TotalFlowLeft|stringformat:'%.2f'}}</del></span>
                                            {%else -%} <span style="color: red">{{rs.TotalFlowLeft|stringformat:'%.2f'}}</span>
                                            {%endif -%}
                                        {%else -%}<span style="color:green"><del>{{rs.TotalFlowLeft|stringformat:'%.2f'}}</del></span>
                                        {%endif -%}
                                    {%endif -%}
                                </td>
                            {%endif -%}
                            <td rvalue="{{r.DiscountMoney|stringformat:'%.2f'}}">{{r.DiscountMoney|stringformat:'%.2f'}}</td>
                            <td class="discount_deduct" id="discount_deduct_{{r.Id}}" rid="{{r.Id}}" rvalue="{{r.DiscountDeduct|stringformat:'%.2f'}}" >
                                {%if rs.TotalFlowValid >= rs.TotalFlowNeed || rs.TotalFlowLeft <= 0 -%}<del style="color: green">{{r.DiscountDeduct|stringformat:'%.2f'}}</del>
                                {%else -%} {{r.DiscountDeduct|stringformat:'%.2f'}}
                                {%endif -%}
                            </td>
                            {%if forloop.Counter == 1 -%}
                                <td rowspan="{{rs.RecordCount}}">
                                    <a class="sp-open-link" href="#" title="区间: {{rs.TimeStart|datetime}} TO {{rs.TimeEnd|datetime}}"
                                        url="/v2/user_audits/bets?time_start={{rs.TimeStart}}&time_end={{rs.TimeEnd}}&user_id={{user.Id}}">{{rs.BetCount}}</a>
                                </td>
                            {%endif -%}
                            <td>
                                <button class="layui-btn audit-update" rid="{{r.Id}}" rvalue="1" type="button">修改</button>
                                <button class="audit-delete layui-btn layui-btn-danger" rid="{{r.Id}}" type="button">删除</button>
                            </td>
                        </tr>
                        {%endfor -%}
                        {%if rs.Records -%}
                        <tr>
                            <td colspan="13" style="background-color:#ececec">
                                {%if rs.FixDate > 0 -%}
                                    <span style="color: red">从下方存款稽核计入流水 {{rs.FixMoney|stringformat:'%.2f'}} 元 </span>
                                    (<span style="color: green">{{rs.FixLeft|stringformat:'%.2f'}} +</span>)
                                {%else -%}
                                    {%if rs.ClearedBy -%}<span style="color: green">因下方有稽核清零, 此条记录不再计算稽核</span>
                                    {%else -%} &nbsp; - (<span style="color: green">{{rs.FixLeft|stringformat:'%.2f'}} +</span>)
                                    {%endif -%}
                                {%endif -%}
                            </td>
                        </tr>
                        {%endif -%}
                        {%endif -%}
                        {%endfor -%}
                        <tr>
                            <td colspan="2"><strong>总计</strong></td>
                            <td>{{totalMoney|stringformat:'%.2f'}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>{{info.TotalFlowNeed|stringformat:'%.2f'}}</td>
                            <td>{{info.TotalFlowCurrent|stringformat:'%.2f'}}</td>
                            <td>{%if info.TotalFlowLeft > 0 -%}<span style="color:red">{{info.TotalFlowLeft|stringformat:'%.2f'}}</span>
                                {%else -%}{{info.TotalFlowLeft|stringformat:'%.2f'}}
                                {%endif -%}
                            </td>
                            <td {%if totalDiscount > 0.0 -%} class="green" {%endif-%}} >{{totalDiscount|stringformat:'%.2f'}}</td>
                            <td {%if info.TotalDiscountDeductCal > 0.0 -%}class="red"{%endif-%}>{{info.TotalDiscountDeductCal|stringformat:'%.2f'}}</td>
                            <td>
                                <a class="sp-open-link" href="#" title="区间: {{lastWithdraw|datetime}} TO {{currentTime|datetime}}"
                                    url="/v2/user_audits/bets?time_start={{lastWithdraw}}&time_end={{currentTime}}&user_id={{user.Id}}">
                                    {{info.TotalRecordCount}}
                                </a>
                            </td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery'], function () {
        let $ = layui.jquery;

        // 删除稽核信息
        $(document).on('click', '.audit-delete', function () {
            let that = $(this),
                id = that.attr('rid');
            if (!id) {
                sp.alert('无法获取用户编号信息');
                return;
            }
            let url = '/user_audits/delete?id=' + id + '&user_id={{userID}}';
            $.post(url, { id: id, user_id: '{{userID}}' }, function (result) {
                if (result.errcode != 0) {
                    sp.alert(result.message);
                    return;
                }
                sp.alertSuccess('稽核信息删除成功', function () {
                    location.reload();
                });
            });
        });

        // 修改稽核信息
        $(document).on('click', '.audit-update', function () {
            let that = $(this),
                id = that.attr('rid');
            let flow_need = $('#flow_need_' + id);
                discount_deduct = $('#discount_deduct_' + id);
            if (that.attr('rvalue') == '1') {
                // 如果是修改, 则转换为提交
                that.attr('rvalue', '2');
                that.html('确认');
                that.addClass('layui-btn-orange');

                let flow_need_now = flow_need.text(),
                    discount_deduct_now = discount_deduct.text(); // 当前所需流水 - 当前优惠扣除
                flow_need.html("<input type='text' style='width:88px;display:block;' class='layui-input' placeholder='请输入稽核所需流水' value='" + flow_need_now + "' />");
                discount_deduct.html("<input type='text' style='width:68px;display:block;' class='layui-input' placeholder='请输入稽核优惠扣除' value='" + discount_deduct_now + "' />");
                return;
            }

            if (!id) {
                sp.alert('无法获取用户编号信息');
                return;
            }
            let flow_need_new = $('input:first', flow_need).val(),
                flow_need_old = flow_need.attr('rvalue');
            let discount_deduct_new = $('input:first', discount_deduct).val(),
                discount_deduct_old = discount_deduct.attr('rvalue');
            if (!flow_need_new || !flow_need_old || !discount_deduct_new || !discount_deduct_old) {
                sp.alert('无法获取修后后的稽核相关信息');
                return;
            }
            if (isNaN(flow_need_new) || isNaN(flow_need_old) || isNaN(discount_deduct_new) || isNaN(discount_deduct_old)) {
                sp.alert('输入数据格式有误');
                return;
            }

            (flow_need_old = parseFloat(flow_need_old).toFixed(2)), (discount_deduct_old = parseFloat(discount_deduct_old).toFixed(2));
            (flow_need_new = parseFloat(flow_need_new).toFixed(2)), (discount_deduct_new = parseFloat(discount_deduct_new).toFixed(2));
            if (flow_need_new == flow_need_old && discount_deduct_new == discount_deduct_old) {
                sp.alert('稽核相关信息的值没有变动');
                flow_need.text(flow_need_old);
                discount_deduct.text(discount_deduct_old);
                that.attr('rvalue', '1');
                that.html('修改');
                return;
            }

            let url = '/user_audits/update?id=' + id + '&user_id={{userID}}';
            let icon = { icon: 7, title: '修改稽核' };
            let message =
                '你确定要修改此条稽核记录么?<br /><br />' +
                (flow_need_new != flow_need_old ? '所需流水将由 ' + flow_need_old + " 改为 <span class='red'>" + flow_need_new + '</span><br />' : '') +
                (discount_deduct_new != discount_deduct_old ? '优惠扣除将由 ' + discount_deduct_old + " 改为 <span class='red'>" + discount_deduct_new + '</span><br />' : '') +
                "<br /><span class='red'>警告: 此项操作将影响用户提款费用计算!";
            layui.layer.confirm(message, icon, function () {
                let data = {
                    id: id,
                    flow_old: flow_need_old,
                    flow: flow_need_new,
                    time: new Date().getMilliseconds(),
                    user_id: '{{userID}}',
                    discount: discount_deduct_old,
                    discount_deduct: discount_deduct_new,
                };
                $.post(url, data, function (result) {
                    if (result.errcode != 0) {
                        sp.alert(result.message);
                        return;
                    }
                    sp.alertSuccess('稽核信息修改成功', function () {
                        location.reload();
                    });
                });
            });
        });
    });
</script>
{% endblock body -%}
