{% if rows -%}
{% for r in rows -%}
<tr {% if forloop.Counter==1%}total="{{total}}" {%endif%}>
    <td>{{r.UserDeposit.Id}}</td>
    <td>{%if r.UserDeposit.Type == 1 %}<div class="order-no" uid="{{r.UserDeposit.UserId}}" style="color: blue;cursor: pointer;">{{r.UserDeposit.OrderNo}}</div>{%else-%}{{r.UserDeposit.OrderNo}}{%endif-%}</td>
    <td>{{r.UserDeposit.Username}}</td>
    <td>{{r.User.Vip|platform_wrap:PLATFORM|user_level}}</td>
    <td>
        {%if r.UserDeposit.ChannelType == 0 %} 银行转账
        {% elif r.UserDeposit.ChannelType == 1 %} 网银转账
        {% elif r.UserDeposit.ChannelType == 2 %} 支付宝
        {% elif r.UserDeposit.ChannelType == 3 %} 微信
        {% elif r.UserDeposit.ChannelType == 4 %} QQ钱包
        {% elif r.UserDeposit.ChannelType == 5 %} 快捷支付
        {% elif r.UserDeposit.ChannelType == 6 %} 京东
        {% elif r.UserDeposit.ChannelType == 7 %} 银联扫码
        {% elif r.UserDeposit.ChannelType == 8 %} 虚拟币
        {% elif r.UserDeposit.ChannelType == 9 %} 云闪付
        {%endif%}
    </td>
    <td>{{r.UserDeposit.Money|stringformat:'%.2f'}}</td>
    <td style="color: {%if r.UserDeposit.Status==2-%}green{%else-%}red{%endif-%}">{{r.UserDeposit.ArriveMoney|stringformat:'%.2f'}}</td>
    <td style="color: {%if r.UserDeposit.Status==2-%}green{%else-%}red{%endif-%}">{{r.UserDeposit.TopMoney|stringformat:'%.2f'}}</td>
    <td style="color: {%if r.UserDeposit.Discount >0.0-%}green{%else-%}red{%endif-%}">{{r.UserDeposit.Discount|stringformat:'%.2f'}}</td>
    <td>{{r.User.Label|platform_wrap:PLATFORM|user_labels|safe}}</td>
    <td>{{r.UserDeposit.Created|datetime}}</td>
    <td>{{r.UserDeposit.Updated|datetime}}</td>
    {% if r.UserDeposit.Type == 1 -%}
    <td>{{r.UserDeposit.PayCode|platform_wrap:PLATFORM|payment_name}} - {{r.UserDeposit.PayCode}}</td>
    {% else -%}
    {% if r.UserDeposit.AccountByName != ""%}<td style="word-break: break-all; cursor: pointer;" class="sp-alert" text="{{r.UserDeposit.AccountByName}}">{{r.UserDeposit.AccountByName|truncatechars:30}}</td>
    {% else -%}<td></td> {%endif-%}
    {% endif -%}
    <td>{{r.UserDeposit.FinanceAdmin}}</td>
    <td>{{r.UserDeposit.Remark}}</td>
    <td>{%if r.UserDeposit.Status == 1 %}待确认{%elif r.UserDeposit.Status == 2 %}<span style="color: green">成功</span>{%else%}<span style="color:red">失败</span>{%endif%}</td>
    <td>
        {% if r.UserDeposit.Type == 1 && r.UserDeposit.Status != 1 && r.UserDeposit.Status != 2 -%}
            {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_deposit_hrs/fix", 4) -%}
                <button class="layui-btn layui-bg-cyan fix-deposit" uid="{{r.UserDeposit.UserId}}" type="button" rid="{{r.UserDeposit.OrderNo}}">补单</button>
            {%endif -%}
        {%endif -%}
        {%if r.UserDeposit.Type == 2 %}
            {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_deposit_onlines_hrs/mistake", 4) -%}
                <button class="layui-btn layui-btn-danger mistake" uid="{{r.Userdeposit.UserId}}" type="button">纠误</button>
            {%endif -%}
        {%endif%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_deposit_logs", 4) -%}
            <button class="layui-btn alog" url="/user_deposit_logs" type="button" uid="{{r.UserDeposit.UserId}}" rid="{{r.UserDeposit.OrderNo}}" area="960px,600px" tab="2">日志</button>
        {%endif -%}
    </td>
</tr>
{%endfor -%}
<tr>
    <td colspan="2"><span style="color: red;">小计(当前页面)</span></td>
    <td colspan="3">
        总计: <span style="color: red">{{page_total}} 笔</span> /
        成功: <span style="color: red">{{page_success}} 笔</span> /
        成功率: <span style="color: green">{{page_success_rate|stringformat:'%.2f'}}%</span>
    </td>
    <td><span style="color: red">{{page_money|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{page_success_arrive|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{page_success_up|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{page_success_discount|stringformat:'%.2f'}}</span></td>
    <td colspan="8">
        总计: <span>{{page_money|stringformat:'%.2f'}} 元 </span> /
        成功: <span style="color: green">{{page_success_money|stringformat:'%.2f'}} 元 </span> /
        优惠: <span style="color: green">{{page_success_discount|stringformat:'%.2f'}} 元 </span> /
        成功率: <span style="color: green">{{page_success_money_rate|stringformat:'%.2f'}}%</span>
    </td>
</tr>
<tr>
    <td colspan="2"><span style="color: red">小计(本次查询)</span></td>
    <td colspan="3">
        总计: <span style="color: red">{{query_total}} 笔</span> /
        成功: <span style="color: red">{{query_success}} 笔</span> /
        成功率: <span style="color: green">{{query_success_rate|stringformat:'%.2f'}}%</span>
    </td>
    <td><span style="color: red">{{query_money|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{query_success_arrive|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{query_success_up|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{query_success_discount|stringformat:'%.2f'}}</span></td>
    <td colspan="8">
        总计: <span>{{query_money|stringformat:'%.2f'}} 元 </span> /
        成功: <span style="color: green">{{query_success_money|stringformat:'%.2f'}} 元 </span> /
        优惠: <span style="color: green">{{query_success_discount|stringformat:'%.2f'}} 元 </span> /
        成功率: <span style="color: green">{{query_success_money_rate|stringformat:'%.2f'}}%</span>
    </td>
</tr>
<tr>
    <td colspan="2"><span style="color: red">总计</span></td>
    <td colspan="3">
        总计: <span style="color: red">{{total_record}} 笔</span> /
        成功: <span style="color: red">{{total_success}} 笔</span> /
        成功率: <span style="color: green">{{total_success_rate|stringformat:'%.2f'}}%</span>
    </td>
    <td><span style="color: red">{{total_money|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{total_success_arrive|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{total_success_up|stringformat:'%.2f'}}</span></td>
    <td><span style="color: red">{{total_success_discount|stringformat:'%.2f'}}</span></td>
    <td colspan="8">
        总计: <span>{{total_money|stringformat:'%.2f'}} 元 </span> /
        成功: <span style="color: green">{{total_success_money|stringformat:'%.2f'}} 元 </span> /
        优惠: <span style="color: green">{{total_success_discount|stringformat:'%.2f'}} 元 </span> /
        成功率: <span style="color: green">{{total_success_money_rate|stringformat:'%.2f'}}%</span>
    </td>
</tr>
{%endif -%}