<div class="layui-card">
    <div class="layui-card-header">快捷方式</div>
    <div class="layui-card-body">
        <div class="layui-carousel layadmin-carousel layadmin-shortcut">
            <div carousel-item>
                <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs3">
                        <a lay-href="/users">
                            <i class="layui-icon layui-icon-user"></i> <cite>会员管理</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/agents">
                            <i class="layui-icon layui-icon-group"></i> <cite>代理列表</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/user_withdraws">
                            <i class="layui-icon layui-icon-rmb"></i> <cite>提款管理</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <!--<a layadmin-event="im">-->
                        <a lay-href="/risk_audits">
                            <i class="layui-icon layui-icon-auz"></i> <cite>提款审核</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/user_deposits">
                            <i class="layui-icon layui-icon-dollar"></i> <cite>存款管理</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/agents/withdraws">
                            <i class="layui-icon layui-icon-diamond"></i> <cite>代理提款</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/user_access_logs">
                            <i class="layui-icon layui-icon-log"></i> <cite>用户日志</cite>
                        </a>
                    </li>
                    <li class="layui-col-xs3">
                        <a lay-href="/configs/update?id=1">
                            <i class="layui-icon layui-icon-windows"></i> <cite>站点设置</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>