{% extends "../layouts/base.html" %}
{% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">修改密码</div>
            <div class="layui-card-body" pad15>
                <div class="layui-form" lay-filter="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" lay-verify="required" lay-verType="tips" class="layui-input" placeholder="请输入当前密码" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新的密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password_new" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" placeholder="请输入新的密码" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password_rep" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" placeholder="请输入重复密码" data-check="password_new" />
                        </div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="update-pass">确认修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.config({ base: '{{STATIC_URL}}/layuiadmin/' })
    .extend({ index: 'lib/index' })
    .use(['index', 'set', 'form', 'layer'], function() {
        let form = layui.form, layer = layui.layer;
        form.on("submit(update-pass)", function(data) {
            sp.post("/index/password_save", data.field, function(res) {
                if (res.errcode == 0) { //如果没有错误
                    sp.alertSuccess("密码修改成功");
                }
            });
        });
    });
</script>
{% endblock body %}
