<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layui-form-item layuiadmin-card-header-auto">
                <button class="layui-btn sp-open-link" title="添加版本号" area="800px,600px" url="/version/created" tab="5">添加版本配置</button>
            </div>
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body no-padding-lr">
                <table class="layui-table">
                    <colgroup>
                        <col width="120" />
                        <col width="100" />
                        <col width="100" />
                        <col width="100" />
                        <col />
                        <col width="300" />
                        <col width="130" />
                        <col width="90" />
                        <col width="90" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>App设备类型</th>
                        <th>App类型</th>
                        <th>版本号</th>
                        <th>升级号</th>
                        <th>更新日志</th>
                        <th>更新地址</th>
                        <th>更新时间</th>
                        <th>强制更新</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>