{% if rows -%}
{% for r in rows -%}
<tr {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.BillNo}}</td>
    <td>{{r.Username}}</td>
    <td>
        {% if r.MoneyType==1 %}中心钱包{% else %}{{r.Venue}}{% endif %}
    </td>
    <td>{{r.Type|dividend_type}}</td>
    <td>{% if r.FlowLimit==1 %}否{% else %}是{% endif %}</td>
    <td>{{r.TurnoverAmount|stringformat:"%.2f"}}</td>
    <td>{{r.FlowMultiple}}</td>
    <td>{{r.BeforeMoney|stringformat:"%.2f"}}</td>
    <td>{{r.Money|stringformat:"%.2f"}}</td>
    <td>{{r.AfterMoney|stringformat:"%.2f"}}</td>
    <td>{{r.Applicant}}</td>
    <td>{{r.Created|datetime}}</td>
    <td>{{r.ApplicantRemark}}</td>
    <td>{{r.Reviewer}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>{{r.ReviewerRemark}}</td>
    <td>
        {% if r.State==2 %}
            <span style="color: green">成功</span>
        {% elif r.State==3 %}
            <span style="color: red">失败</span>
        {% endif %}
    </td>
</tr>
{% endfor -%}
<tr>
    <td><span style="color: red">合计</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span style="color: red">{{sum_money|stringformat:"%.2f"}}</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{%endif -%}