{% extends "../layouts/base.html" %} {% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-tab" lay-filter="sp-lazy-load">
                    <ul class="layui-tab-title">
                        {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_managements", 4) -%}
                        <li class="layui-this">发放红利</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_audits", 4) -%}
                        <li>审核列表</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_hrs", 4) -%}
                        <li>历史记录</li>
                        {%endif -%}
                    </ul>
                    <div class="layui-tab-content">
                        {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_managements", 4) -%}
                        <div class="layui-tab-item layui-show">{% include "offers.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_audits", 4) -%}
                        <div class="layui-tab-item" url="/dividend_audits">{% include "applies.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/dividend_hrs", 4) -%}
                        <div class="layui-tab-item" url="/dividend_hrs">{% include "records.html" %}</div>
                        {%endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
