<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <form class="layui-form" lay-filter="" method="post" tbody="1">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline" style="width: 400px;">
                            <label class="layui-form-label">申请时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="created" placeholder="请选择时间" autocomplete="off" class="layui-input sp-form-datetime" style="width: 330px;" id="created_agent_withdraw_hrs" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">完成时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="updated" placeholder="请选择时间" autocomplete="off" class="layui-input sp-form-datetime" style="width: 330px;" id="created_agent_withdraw_cs" />
                            </div>
                        </div>
                        <br>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单金额</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="money_min" placeholder="开始金额" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="money_max" placeholder="结束金额" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bill_no" placeholder="请输入订单号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">代理账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入代理账号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">全部</option>
                                    <option value="2">成功</option>
                                    <option value="3">失败</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">商户名称</label>
                            <div class="layui-input-inline">
                                <select name="payment_method">
                                    <option value="">全部</option>
                                    {% for r in payment_method %}
                                    <option value="{{r}}">{{r}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">出款人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="finance_admin" placeholder="请输入出款人" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">代付</label>
                            <div class="layui-input-inline">
                                <select name="business_type">
                                    <option value="">全部</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="sp-form-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn sp-form-reset" type="button">重置</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-card-body">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-list sp-export-excel" data-type="export" url="/agent_withdraw_hrs/export">导出EXecl</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="120" />
                        <col width="100" />
                        <col width="100" />
                        <col width="100" />
                        <col width="150" />
                        <col width="130" />
                        <col width="100" />
                        <col width="130" />
                        <col width="100" />
                        <col width="80" />
                        <col width="150" />
                        <col width="80" />
                        <col width="80" />
                        <col />
                        <col width="60" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单编号</th>
                            <th>会员账号</th>
                            <th>会员等级</th>
                            <th>订单金额(元)</th>
                            <th>银行卡信息</th>
                            <th>申请时间</th>
                            <th>是否代付</th>
                            <th>风控审核完成时间</th>
                            <th>风控审核人</th>
                            <th>订单状态</th>
                            <th>完成时间</th>
                            <th>出款人</th>
                            <th>商户名称</th>
                            <th>出款卡号</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="sp-loaded-table" url="/agent_withdraw_hrs"> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: '{{STATIC_URL}}/layuiadmin/' //静态资源所在路径
    }).use(['form', 'laydate'], function () {
        let $ = layui.$;
        let form = layui.form;
        let laydate = layui.laydate;
        let get_user_info = function (that) { //得到用户编号、信息
            let tr = that.parent().parent();
            let id = $("td:eq(0)", tr).text();
            let bill_no = $("td:eq(1)", tr).text();
            return { id: id, bill_no: bill_no };
        };
        $(document).off("click", ".alog");
        $(document).on("click", ".alog", function () {
            let info = get_user_info($(this));
            layer.open({
                type: 2,
                area: ['800px', '600px'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: "日志记录",
                content: "/agent_withdraw_logs?bill_no=" + info.bill_no
            });
        });
    });
</script>