{%for r in rows%}
<tr  {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.Username}}</td>
    <td>{{r.MessageType|feedback_type}}</td>
    <td>{%if r. LoginId == 1%}Web{%elif r.LoginId ==2%}H5{%else%}App{%endif%}</td>
    <td>{{r.Contents}}
        {%if r.ImageUrl!=""%}
            {%for imageUrl in r.ImageLinks %}
                <span url="{{imageUrl}}" class="sp-show-image feedback-img" style="color:red">查看图片</span>
            {%endfor -%}
        {%endif%}
    </td>
    <td>{{r.Reply}}</td>
    <td>{{r.Admin}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_feedback/update", 4) -%}
        <button class="layui-btn layuiadmin-btn-list sp-open-link" url="/user_feedback/update" rid="{{r.Id}} " area="900px,630px" title="评论-回复"  data-type="add">编辑</button>
        {%endif -%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_feedback/delete", 4) -%}
        <button class="layui-btn layuiadmin-btn-list layui-btn-danger  sp-btn-delete" url="/user_feedback/delete" tab="2" rid="{{r.Id}}" area="650px,500px">删除</button>
        {%endif -%}
    </td>
</tr>
{%endfor%}