{% extends "../layouts/edit.html" %}
{% block body %}
<form class="layui-form" action="/game_maintains/save">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;">场馆英文名称</label>
        <div class="layui-input-inline">
            <input type="text" name="venue_ename" lay-verify="required" autocomplete="off" disabled class="layui-input layui-disabled" value="{{r.Ename}}" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;">场馆中文名称</label>
        <div class="layui-input-inline">
            <input type="text" name="venue_name" lay-verify="required" autocomplete="off" disabled class="layui-input layui-disabled" value="{{r.Name}}" />
        </div>
    </div>
    <input type="hidden" name="admin_name" value="{{admin}}">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;" >维护状态</label>
        <div class="layui-input-inline">
            <select name="state" lay-verify="required" >
                <option ></option>
                <option value="1">正常</option>
                <option value="2" >维护</option>

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;" >维护时间</label>
        <div class="layui-input-inline">
            <input type="text" name="maintain_time" class="layui-input sp-form-datetime" id="maintain-time" readonly="readonly" style="width:300px" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 100px;" >原因备注</label>
        <div class="layui-input-inline">
            <textarea name="remark" placeholder="请填写维护原因" class="layui-textarea" style="width: 300px; height: 200px;">{{r.Remark}}</textarea>
        </div>
    </div>
    <input type="hidden" name="venue_id" value="{{r.VenueId}}" />
    {{block.Super|safe}}
</form>
{% endblock body %}
