{% extends "../layouts/base.html" %}
{% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">账户调整</li>
                        <li>平台转账</li>
                        <li>红利记录</li>
                        <li>活动记录</li>
                        <li>等级记录</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show"> </div>
                        <div class="layui-tab-item"> </div>
                        <div class="layui-tab-item"> </div>
                        <div class="layui-tab-item"> </div>
                        <div class="layui-tab-item"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
