{% extends "../layouts/base.html" %} {% block body %}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-tab" lay-filter="sp-lazy-load">
                    <ul class="layui-tab-title">
                        {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_changes", 4) -%}
                        <li class="layui-this">账户调整</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_transfers", 4) -%}
                        <li>平台转账</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_dividends", 4) -%}
                        <li>红利记录</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_activities", 4) -%}
                        <li>活动记录(手动)</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/activity_applies", 4) -%}
                        <li>活动记录(自动)</li>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_level_changes", 4) -%}
                        <li>等级记录</li>
                        {%endif -%}
                    </ul>
                    <div class="layui-tab-content">
                        {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_changes", 4) -%}
                        <div class="layui-tab-item layui-show">{% include "i_user_changes.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_transfers", 4) -%}
                        <div class="layui-tab-item" url="/user_transfers">{% include "user_transfers.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_dividends", 4) -%}
                        <div class="layui-tab-item" url="/user_dividends">{% include "user_dividends.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_activities", 4) -%}
                        <div class="layui-tab-item" url="/user_activities">{% include "user_activities.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/activity_applies", 4) -%}
                        <div class="layui-tab-item" url="/activity_applies">{% include "activity_applies.html" %}</div>
                        {%endif -%} {%if is_granted(PLATFORM, ADMIN.RoleId, "/user_level_changes", 4) -%}
                        <div class="layui-tab-item" url="/user_level_changes">{% include "user_level_changes.html" %}</div>
                        {%endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
