{% for r in rows %}
<tr {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.Id}}</td>
    <td>{{r.Title}}</td>
    <td>{{r.MatchDate|datetime}}</td>
    <td>{{r.TeamFirst}}</td>
    <td>{%if r.TeamFirstIcon != ""%}<div class="sp-show-image" url="{{r.TeamFirstIcon}}">点击查看</div>{%endif%}</td>
    <td>{{r.TeamSecond}}</td>
    <td>{%if r.TeamSecondIcon != ""%}<div class="sp-show-image" url="{{r.TeamSecondIcon}}">点击查看</div>{%endif%}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_matches/state", 4) -%}
        <input type="checkbox" name="state" lay-skin="switch" lay-text="正常|禁用" class="sp-btn-state"
               values="2|1" lay-filter="state" value="{{r.State}}" url="/ad_matches/state" rid="{{r.Id}}" />
        {%else -%} {{r.State|state_text|safe}}
        {%endif -%}
    </td>
    <td>{{r.TimeStart|datetime}} ~ {{r.TimeEnd|datetime}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_matches/update", 4) -%}
            <button class="layui-btn layuiadmin-btn-list sp-open-link" url="/ad_matches/update" area="700px,600px" tab="2" data-type="add">编辑</button>
        {%endif -%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_matches/delete", 4) -%}
            <button class="layui-btn layuiadmin-btn-list layui-btn-danger sp-btn-delete" tab="2" url="/ad_matches/delete" data-type="add">删除</button>
        {%endif -%}
    </td>
</tr>
{% endfor %}
