{% for r in rows %}
<tr {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.Id}}</td>
    <td>{{r.Title}}</td>
    <td>{{r.Url}}</td>
    <td>{%if r.Image != ""%}<div class="sp-show-image" url="{{r.Image}}">点击查看</div>{%endif%}</td>
    <td>{%if r.Icon != ""%}<div class="sp-show-image" url="{{r.Icon}}">点击查看</div>{%endif%}</td>
    <td>{%if r.ShareImage != ""%}<div class="sp-show-image" url="{{r.ShareImage}}">点击查看</div>{%endif%}</td>
    <td>{{r.TimeStart|datetime}} ~ {{r.TimeEnd|datetime}}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_sponsors/state", 4) -%}
        <input type="checkbox" name="state" lay-skin="switch" lay-text="正常|禁用" class="sp-btn-state"
               values="2|1" lay-filter="state" value="{{r.State}}" url="/ad_sponsors/state" rid="{{r.Id}}" />
        {%else -%} {{r.State|state_text|safe}}
        {%endif -%}
    </td>
    <td>{{r.Sort}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_sponsors/update", 4) -%}
            <button class="layui-btn layuiadmin-btn-list sp-open-link" url="/ad_sponsors/update" area="700px,600px" tab="3" data-type="add">编辑</button>
        {%endif -%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/ad_sponsors/delete", 4) -%}
            <button class="layui-btn layuiadmin-btn-list layui-btn-danger sp-btn-delete" tab="3" url="/ad_sponsors/delete" data-type="add">删除</button>
        {%endif -%}
    </td>
</tr>
{% endfor %}
