{% for r in rows %}
<tr {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.Id}}</td>
    <td>{{r.CardNumber}}</td>
    <td>{{r.UserName}} {% if r.UserNames -%} - {{r.UserNames}}{%endif -%}</td>
    <td>{{r.Remark}}</td>
    <td>{{r.Created|datetime}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>{%if r.AdminId == 0-%}系统{%else-%}{{r.AdminName}}{%endif-%}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/blocked_cards/update", 4) -%}
        <button class="layui-btn sp-open-link" url="/blocked_cards/update" area="600px,400px" tab="4">编辑</button>
        {%endif -%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/blocked_cards/delete", 4) -%}
        <button class="layui-btn layui-btn-danger sp-btn-delete" url="/blocked_cards/delete" tab="4">删除</button>
        {%endif -%}
    </td>
</tr>
{% endfor %}
