{% for r in rows %}
<tr {% if forloop.Counter == 1%}total="{{total}}"{%endif%}>
    <td>{{r.Id}}</td>
    <td>{{r.Ip}}</td>
    <td style="color: blue">{{r.Ip|ip_area}}</td>
    <td>{{r.UserNames}}</td>
    <td>{{r.Remark}}</td>
    <td>{{r.Created|datetime}}</td>
    <td>{{r.Updated|datetime}}</td>
    <td>{{r.AdminName}}</td>
    <td>
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/blocked_ips/update", 4) -%}
            <button class="layui-btn sp-open-link" url="/blocked_ips/update" area="600px,400px" tab="1">编辑</button>
        {%endif -%}
        {%if is_granted(PLATFORM, ADMIN.RoleId, "/blocked_ips/delete", 4) -%}
            <button class="layui-btn layui-btn-danger sp-btn-delete" tab="1" url="/blocked_ips/delete">删除</button>
        {%endif -%}
    </td>
</tr>
{% endfor %}
